.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed
/phpactor.json
.env
.env.*
!env.example
*.log
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/pail
/vendor
/node_modules
/public/build
/public/hot
/public/storage
.phpunit.result.cache
/.phpunit.cache
auth.json
npm-debug.log
yarn-error.log
Homestead.json
Homestead.yaml
